<section class="slice" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>About us</h1>
                <h2 class="subTitle">Who we are, what we do</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" data-nekoanim="fadeIn" data-nekodelay="300">
                <img src="/Theme/OnePage/images/gf/tree.jpg" alt="services" class="img-responsive">
            </div>
            <div class="col-sm-4" data-nekoanim="fadeInRightBig" data-nekodelay="200">
                <h2>Full Stack Development Firm</h2>

                <p>
                    Green Flag software is your single source software provider. Why is this a good thing? This is a good thing because it reduces the inherent friction between two or more providers and lends itself to a more cohesive solution. Aside from the aforementioned, simply put, it saves you money.
                </p>

                <p>
                    Green Flag provides systems integration with existing systems as well as complete start to finish implementations tailored to your business from the initial consultation, to post-delivery support. Whether your company has a concrete solution it seeks to implement, or you are seeking guidance on how to improve your processes and make them more efficient, Green Flag can deliver. 
                </p>
            </div>

            <div class="col-sm-4" data-nekoanim="fadeInRightBig" data-nekodelay="400">
                <h2>Our Process</h2>
                <p>Our process starts with understanding the problem domain. We work closely with stakeholders of your team to synthesize a coherent specification. We realize the difficulties involved with “Big Up Front Design” and utilize an agile development process. We seek to deliver value early so you can be assured that the project is progressing.</p>
                <h3>Consultations</h3>
                <p>Whether you are seeking new or modifications to existing websites, desktop, LOB applications, mobile applications, media applications or systems integration, consultations are always free of charge and free of any obligation.</p>
            </div>
        </div>
    </div>
</section>
