<section id="home" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-6">
                <div class="flexslider" id="flexHome">
                    <ul class="slides">
                        <li>
                            <h1>Software Solutions</h1>
                            <h2>Full Stack Development</h2>
                        </li>
                        <li>
                            <h1>Line of Business</h1>
                            <h2>Applications Tailored to Your Business</h2>
                        </li>
                        <li>
                            <h1>Workflows</h1>
                            <h2>And Business Process Automation</h2>
                        </li>
                        <li>
                            <h1>Data Access</h1>
                            <h2>Cloud Technologies</h2>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6 hidden-xs">
                <div class="flexslider" id="bannerImageRotator" style="background:none">
                    <ul class="slides">
                        <li>
                            <img src="/Theme/OnePage/images/rotator/fullStack.jpg" class="img-circle"  alt="Ashley, Bootstrap website template"  />
                        </li>
                        <li>
                            <img src="/Theme/OnePage/images/rotator/lob.jpg" class="img-circle" alt="Ashley, Bootstrap website template" />
                        </li>
                        <li>
                            <img src="/Theme/OnePage/images/rotator/proc.jpg" class="img-circle" alt="Ashley, Bootstrap website template" />
                        </li>
                        <li>
                            <img src="/Theme/OnePage/images/rotator/bigdata2.jpg" class="img-circle" alt="Ashley, Bootstrap website template" />
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<style>
    
</style>