<style>
    #expertise .imgWrapper{background:#3c3b3b;}
</style>
<section class="slice" id="expertise">
    <div class="container imgHover">
        <div class="row">
            <div class="col-lg-12">
                <h1>Our Expertise</h1>
                <h2 class="subTitle">Complete Software Solutions...Full Stack Development</h2>
            </div>

            <article class="col-sm-4" data-nekoanim="fadeInLeftBig" data-nekodelay="100">

                <section class="imgWrapper">
                    <img src="/Theme/OnePage/images/news/desktopApplications.png"  class="img-responsive" alt="Ashleye template image news" />
                </section>

                <div class="mediaHover">
                    <div class="mask"></div>
                    <div class="iconLinks">

                        <a href="#desktopApplicationsPopup" class="open-popup-link" title="Zoom"><i class="icon-search iconRounded iconBig"></i><span>zoom</span></a>
                    </div>
                </div>
                <section class="newsText color4">
                    <h3>New hair cut today</h3>
                    <h4 class="date">September 12</h4>
                    <p>The Duchess took her choice, and was gone in a moment. 'Let's go on with the game,' the Queen said to Alice; and Alice was  too much frightened to say a word, but slowly followed her back to the  croquet-ground.</p>
                    <a href="#desktopApplicationsPopup" class="btn btn-sm open-popup-link"><i class="icon-right-open-mini"></i>read more</a>
                </section>

            </article>


            <article class="col-sm-4" data-nekoanim="fadeInUp" data-nekodelay="200">
                <section class="imgWrapper">
                    <img src="/Theme/OnePage/images/news/mobileApplications.png" class="img-responsive" alt="snowflake template image news" />
                </section>
                <div class="mediaHover">
                    <div class="mask"></div>
                    <div class="iconLinks">
                        <a href="#mobileApplicationsPopup" class="open-popup-link" title="Zoom"><i class="icon-search iconRounded iconBig"></i><span>zoom</span></a>
                    </div>
                </div>
                <section class="newsText color4">
                    <h3>We are a family</h3>
                    <h4 class="date">November 24</h4>
                    <p>The Duchess took her choice, and was gone in a moment. 'Let's go on with the game,' the Queen said to Alice; and Alice was  too much frightened to say a word, but slowly followed her back to the  croquet-ground.</p>
                    <a href="#mobileApplicationsPopup" class="btn btn-sm open-popup-link"><i class="icon-right-open-mini"></i>read more</a>
                </section>
            </article>


            <article class="col-sm-4" data-nekoanim="fadeInRightBig" data-nekodelay="300">
                <section class="imgWrapper">
                    <img src="/Theme/OnePage/images/news/webApplications.png" class="img-responsive" alt="snowflake template image news" />
                </section>
                <div class="mediaHover">
                    <div class="mask"></div>
                    <div class="iconLinks">
                        <a href="#webApplicationsPopup" class="open-popup-link" title="Zoom"><i class="icon-search iconRounded iconBig"></i><span>zoom</span></a>
                    </div>
                </div>
                <section class="newsText color4">
                    <h3>Call me if you can</h3>
                    <h4 class="date">November 24</h4>
                    <p>The Duchess took her choice, and was gone in a moment. 'Let's go on with the game,' the Queen said to Alice; and Alice was  too much frightened to say a word, but slowly followed her back to the  croquet-ground.</p>
                    <a href="#webApplicationsPopup" class="btn btn-sm open-popup-link"><i class="icon-right-open-mini"></i>read more</a>
                </section>
            </article>


        </div>
    </div>
</section>
<!--popup content-->
<div id="desktopApplicationsPopup" class="info-popup mfp-hide">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="popup-header">
                <img src="/Theme/OnePage/images/news/desktopApplications_small.png" />
                <h2 class="subTitle">Desktop Applications</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="popup-content">
                    <p>Vestibulum porttitor porta felis in posuere. Quisque et est lacus. Donec sapien leo, vestibulum sed ante ut, mattis tempus nulla. Nullam pellentesque tincidunt ipsum at vehicula. Nunc fermentum libero in mollis suscipit. Pellentesque at malesuada massa, eu condimentum justo. In luctus dui sit amet lectus pretium lacinia. Donec sollicitudin sed eros eget aliquam. Nunc lacinia malesuada laoreet. Aliquam eleifend, purus et adipiscing tempor, nisl leo placerat erat, sagittis luctus sapien velit in diam.</p>
                    <p>Cras dignissim adipiscing quam in fermentum. Nulla pellentesque nisi lacus, vel ornare elit vestibulum et. Duis in blandit nibh. In vel dui vel ipsum faucibus vulputate hendrerit id risus. Sed bibendum risus nisl. Proin bibendum sodales ornare. Suspendisse vehicula facilisis est, ut vestibulum eros ornare ac. Pellentesque eu blandit justo. Praesent malesuada at nunc et bibendum. Nam a varius turpis, sit amet convallis nisl. Vivamus ultricies nibh eu elit dapibus consequat. Sed eleifend libero ut placerat elementum. Etiam gravida commodo ligula et blandit. Etiam non pulvinar nibh, et sagittis quam. Integer varius ornare quam, a mattis purus molestie sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mobileApplicationsPopup" class="info-popup mfp-hide">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="popup-header">
                <img src="/Theme/OnePage/images/news/mobileApplications_small.png" />
                <h2 class="subTitle">Mobile Applications</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="popup-content">
                    <p>Vestibulum porttitor porta felis in posuere. Quisque et est lacus. Donec sapien leo, vestibulum sed ante ut, mattis tempus nulla. Nullam pellentesque tincidunt ipsum at vehicula. Nunc fermentum libero in mollis suscipit. Pellentesque at malesuada massa, eu condimentum justo. In luctus dui sit amet lectus pretium lacinia. Donec sollicitudin sed eros eget aliquam. Nunc lacinia malesuada laoreet. Aliquam eleifend, purus et adipiscing tempor, nisl leo placerat erat, sagittis luctus sapien velit in diam.</p>
                    <p>Cras dignissim adipiscing quam in fermentum. Nulla pellentesque nisi lacus, vel ornare elit vestibulum et. Duis in blandit nibh. In vel dui vel ipsum faucibus vulputate hendrerit id risus. Sed bibendum risus nisl. Proin bibendum sodales ornare. Suspendisse vehicula facilisis est, ut vestibulum eros ornare ac. Pellentesque eu blandit justo. Praesent malesuada at nunc et bibendum. Nam a varius turpis, sit amet convallis nisl. Vivamus ultricies nibh eu elit dapibus consequat. Sed eleifend libero ut placerat elementum. Etiam gravida commodo ligula et blandit. Etiam non pulvinar nibh, et sagittis quam. Integer varius ornare quam, a mattis purus molestie sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="webApplicationsPopup" class="info-popup mfp-hide">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="popup-header">
                <img src="/Theme/OnePage/images/news/webApplications_small.png" />
                <h2 class="subTitle">Web Applications</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="popup-content">
                    <p>Vestibulum porttitor porta felis in posuere. Quisque et est lacus. Donec sapien leo, vestibulum sed ante ut, mattis tempus nulla. Nullam pellentesque tincidunt ipsum at vehicula. Nunc fermentum libero in mollis suscipit. Pellentesque at malesuada massa, eu condimentum justo. In luctus dui sit amet lectus pretium lacinia. Donec sollicitudin sed eros eget aliquam. Nunc lacinia malesuada laoreet. Aliquam eleifend, purus et adipiscing tempor, nisl leo placerat erat, sagittis luctus sapien velit in diam.</p>
                    <p>Cras dignissim adipiscing quam in fermentum. Nulla pellentesque nisi lacus, vel ornare elit vestibulum et. Duis in blandit nibh. In vel dui vel ipsum faucibus vulputate hendrerit id risus. Sed bibendum risus nisl. Proin bibendum sodales ornare. Suspendisse vehicula facilisis est, ut vestibulum eros ornare ac. Pellentesque eu blandit justo. Praesent malesuada at nunc et bibendum. Nam a varius turpis, sit amet convallis nisl. Vivamus ultricies nibh eu elit dapibus consequat. Sed eleifend libero ut placerat elementum. Etiam gravida commodo ligula et blandit. Etiam non pulvinar nibh, et sagittis quam. Integer varius ornare quam, a mattis purus molestie sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>
        </div>
    </div>
</div>