<section class="pricing slice color1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="noSubtitle">Our plans</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Heads up!</strong> This template comes with all the features you need. <a href="features.html" class="alert-link portfolioSheet">check them here</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="pricingBloc" data-nekoanim="fadeIn" data-nekodelay="100">
                    <h2>Free</h2>
                    <h3>0$<span>per month</span></h3>
                    <ul>
                        <li>This is what you get For free</li>
                        <li>Not bad, but could be better</li>
                        <li>-</li>
                        <li>-</li>
                        <li>-</li>
                        <li>-</li>
                    </ul>
                    <p class="sign">
                        <a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                            Sign up
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingBloc" data-nekoanim="fadeIn" data-nekodelay="400">
                    <h2>Silver</h2>
                    <h3>10$<span>per month</span></h3>
                    <ul>
                        <li>This is a little better</li>
                        <li>Though</li>
                        <li>Not the best plan for you!</li>
                        <li>-</li>
                        <li>-</li>
                        <li>-</li>
                    </ul>
                    <p class="sign">
                        <a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                            Sign up
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingBloc focusPlan" data-nekoanim="fadeInUp" data-nekodelay="300">
                    <h2>Gold</h2>
                    <h3>25$<span>per month</span></h3>
                    <ul>
                        <li>Honestly, go Premium</li>
                        <li>We have a lot</li>
                        <li>of cool features for you!</li>
                        <li>Really, you will love what you will get</li>
                        <li>Come on!!</li>
                        <li>Please!!!</li>
                    </ul>
                    <p class="sign">
                        <a class="btn btn-large" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                            Sign up
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingBloc" data-nekoanim="fadeIn" data-nekodelay="200">
                    <h2>Platinium</h2>
                    <h3>40$<span>per month</span></h3>
                    <ul>
                        <li>This one is super good</li>
                        <li>Super awesome</li>
                        <li>Just the right plan for you</li>
                        <li>If you are</li>
                        <li>A super pro!</li>
                        <li>No kidding</li>
                    </ul>
                    <p class="sign">
                        <a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
                            Sign up
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
