<section class="slice color1" id="services" data-nekoanim="fadeInUp" data-nekodelay="100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Our services</h1>
                <h2 class="subTitle">We are doing a couple of things you might be interested in</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row boxFeature" data-nekoanim="fadeInUp" data-nekodelay="100">
                    <div class="col-xs-3">
                        <i class="icon-heart iconBig"></i>
                    </div>
                    <div class="col-xs-9">
                        <h2>Clean design</h2>
                        <p>Elegant layouts that help you organize your content in the best way</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row boxFeature" data-nekoanim="fadeInUp" data-nekodelay="200">
                    <div class="col-xs-3">
                        <i class="icon-plane-outline  iconBig"></i>
                    </div>
                    <div class="col-xs-9">
                        <h2>HTML5 & CSS3</h2>
                        <p>Built with modern technologies like HTML5 and CSS3, SEO optimised</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row boxFeature" data-nekoanim="fadeInUp" data-nekodelay="300">
                    <div class="col-xs-3">
                        <i class="icon-resize-full-outline iconBig"></i>
                    </div>
                    <div class="col-xs-9">
                        <h2>Responsive design</h2>
                        <p>Compatible with various desktop, tablet, and mobile devices.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row boxFeature" data-nekoanim="fadeInUp" data-nekodelay="400">
                    <div class="col-xs-3">
                        <i class="icon-edit iconBig"></i>
                    </div>
                    <div class="col-xs-9">
                        <h2>Easy Customization</h2>
                        <p>Clear code and documentation, base on Bootstrap 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
