<section class="slice color1" id="services" data-nekoanim="fadeInUp" data-nekodelay="100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Our Services</h1>
                <h2 class="subTitle">Proven Platforms and Frameworks, Cross Tier Development Set to Deliver </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row boxFeature" data-nekoanim="fadeInUp" data-nekodelay="100">
                    <div class="col-xs-3">
                        <i class="icon-briefcase iconBig"></i>
                    </div>
                    <div class="col-xs-9">
                        <h2>Line of Business Applications</h2>
                        <p>Applications tailored specifically for your business, employees, and processes</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row boxFeature" data-nekoanim="fadeInUp" data-nekodelay="200">
                    <div class="col-xs-3">
                        <i class="icon-basket  iconBig"></i>
                    </div>
                    <div class="col-xs-9">
                        <h2>E-commerce</h2>
                        <p>Built with modern technologies like HTML5 and CSS3, SEO optimised</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row boxFeature" data-nekoanim="fadeInUp" data-nekodelay="300">
                    <div class="col-xs-3">
                        <i class="icon-resize-full-outline iconBig"></i>
                    </div>
                    <div class="col-xs-9">
                        <h2>Responsive design</h2>
                        <p>Compatible with various desktop, tablet, and mobile devices.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row boxFeature" data-nekoanim="fadeInUp" data-nekodelay="400">
                    <div class="col-xs-3">
                        <i class="icon-edit iconBig"></i>
                    </div>
                    <div class="col-xs-9">
                        <h2>Easy Customization</h2>
                        <p>Clear code and documentation, base on Bootstrap 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
